@{ ViewBag.Title = "Sin Permisos"; }
<div class="bs3-espacio-md-arriba"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Sin Permisos!</strong> No cuenta con los permisos suficientes para ingresar a esta ventana, comuníquese con el área de TIC.
            </div>
        </div>
    </div>
</div>